body{
    font-family: monospace;
    color: #E7E8EB;
    background-color: #2d2d2d;
    line-height: 2ch;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #E7E8EB #000;   /* scroll thumb and track */
}
main {
    max-width: 87ch;
}
.flexrow {
    display: flex;
    flex-direction: row;
}
.y_antimargin {
    margin: -1ch 0;
}
.buttons button{
    flex-grow: 1;
}
.buttons button:first-child {
    margin-right: 1ch;
}
fieldset {
    border: 1px solid #E7E8EB;
    padding: 1ch;
    margin: 1ch;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1c1b1b;
}
legend {
    font-weight: bold;
    font-size: 125%;
}
textarea {
    display: block;
    height: 25ch;
    padding: 1ch;
    resize: none;
    border: none;
    color: inherit;
    line-height: 2ch;
    background-color: #1c1b1b;
    tab-size: 4;
    -moz-tab-size: 4;
}
.stdin textarea{
    height: 6.5ch;
}
button {
    display: block;
    padding: 0.5ch;
    border: none;
    margin: 1ch 0 0;
}
button:hover{
    background-color: #FF983D;
    cursor: pointer;
}
button:active{
    background-color: #bf7331;
}
